/* Preloader */

#preloader {
    background-color: #FFFFFF;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}
#loader {
    background-image: url("assets/images/bx_loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}
body {
  position: relative;
}


.opacity-9{
	filter:alpha(Opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9;
	background-color: #fff;
}
.opacity-1{
	filter:alpha(Opacity=100);
	-moz-opacity:1;
	opacity: 1;
}
.opacity-7{
	filter:alpha(Opacity=80);
	-moz-opacity:0.8;
	opacity: 0.8;
	background-color: #fff;
}

.main-heading{
	font-family:Verdana,"bariol_regular";
	line-height:43px;
	font-weight:bold !important;
	font-size: 1000%;
	line-height: 85%;
	/*text-shadow: 3px 3px 3px #5080dd;*/
	text-shadow: 3px 3px 3px #888;
}
.padding{
	padding:50px 30px;
	border-top: 0px;
	border-bottom: 0px;
}

p{
	font-size: 170%;
	line-height: 120%;
	/*font-family:"bariol_regular"; */ 
	font-family: "Century Gothic","Comic Sans MS",Verdana,Courier,"bariol_regular";
	font-weight: 50;
	padding: 50px 0;
	
}
.color-high{
	color:#1E90FF;
}
.color-dark{
	color:#000;
}
.text-shadow-gray{
	text-shadow: 1px 1px 1px #aaa;
}
.big{
	font-size: 200%;
}
.small{
	font-size: 100%;
}
.bit-small{
	font-size: 500%;
}
.min-height{
	min-height: 1000px;
}
.skill{
	color: #fff;
	border-color: #1E90FF;
	border-style: solid;
	border-width: 8px;
	border-radius: 50%;
	background-color: #1E90FF;
}
.bold{
	font-weight: bold;
}
.padding-off{
	padding: 0 0;
}

.success {
		padding: 1em;
		margin: 30px 0 0;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		font-color: #1E90FF;
		font-family: "Century Gothic","Comic Sans MS",Verdana,Courier,"bariol_regular";
		border: 2px solid #43cd80;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
.contactform{
	padding: 20px 40px;
	border-top: 4px;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	border-color: #1E90FF;
	border-style: solid;
}

.family-center{
	font-family: "Century Gothic","Comic Sans MS",Verdana,Courier,"bariol_regular";
	text-align: center;
}